@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

.background {
  position: relative;
  width: 100%;
  height: 800px;
	background-image: url(../img/Background.jpg);
  background-size:  auto;
  background-position: center;
	background-repeat: no-repeat;
}

.background img {
  width: 30%;
  margin: 20px 20px 100px 270px;
}

.background p {
  font-size: 30px;
  margin: -170px -10px 170px 273px;
}

.note {
  width: 800px;
  margin: auto;
  color: rgb(240, 77, 77);
  padding: 10px;
  border-radius: 8px; /*ボタンの角を丸くする*/
  background-color: rgb(255, 255, 240);
  font-size: 32px;
}

.note p {
  font-size:large;
  line-height:10px; /*改行間隔*/
  color: black;
  font-size: 32px;
}

.SignUp {
  width: 80%;
  color: white; /* 文字色 */
  padding: 15px 32px; /* パディング */
  text-align: center; /* 文字のアライメント */
  margin: 4px 10%; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  background-color: #16a34a;
  font-size: 48px;
}

 .ConfirmAccount {
  text-align: center;
  font-size:large;
  line-height:10px; /*改行間隔*/
  color: black;
  font-size: 32px;
}

.LogIn {
  color: #16A34A;
}
