@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  background-color: #f0f0f0;
  padding: 100px;
  font-size: 14px;
  color: #666;
}

header {
  color: #16a34a;
  margin: 0;
  margin-bottom: 0.5em; /*改行間隔*/
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

h1 {
  color: #044A73;
  margin: 0;
  margin-bottom: 0.5em; /*改行間隔*/
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

p {
  color: #434862;
  text-align: center;
}

maxamount_content h1{
  color:#fff;
}

img {
  width:100%; /*1. 写真サイズ調整*/
}

.Next {
  width: 80%;
  color: white; /* 文字色 */
  padding: 15px 32px;  /*パディング */
  margin-left: 15px; /* 外側の余白(ボタン位置) */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  background-color: #16a34a;
}

.CaptureNow {
  width: 80%;
  color: white; /* 文字色 */
  padding: 15px 32px; /* パディング */
  text-align: center; /* 文字のアライメント */
  margin: 4px 10%; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  background-color: #16a34a;
}

/*1. タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #16a34a;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#personal:checked ~ #personal_content,
#maxamount:checked ~ #maxamount_content,
#data:checked ~ #data_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: white;
  color: black;
}

.container { /*入力フォーム項目の位置調整*/
  padding-left: 70px;
}

label.form-label {
  font-size: 24px;
}

.form-control{
  width: 90%;
  height:30px;
  font-size: 20px;
}

span {
  color: #434862;
  font-size: 32px;
}

/*2. タブ切り替え全体のスタイル*/
.nexttabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.nexttab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #16a34a;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.nexttab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="nexttab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.nexttab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#nextidentification:checked ~ #nextidentification_content,
#nextfacephoto:checked ~ #nextfacephoto_content,
#nextsalarystatement:checked ~ #nextsalarystatement_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .nexttab_item {
  background-color: white;
  color: black;
}

/*レンジスライダー*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  background: #8acdff;
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #dfffe7; 
  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    background: #53aeff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }

  &::-moz-range-thumb {
    background: #53aeff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
  }
}
/*レンジスライダー*/

/*テーブル*/
table {
  width: 80%;
  margin: auto;
  color: black;
}
th {
  background-color: #16a34a;
  color: white;
}
/*テーブル*/

/*Repayment Details*/
select {
  width: 100%;
}
.interest {
  color:#53aeff;
  font-weight:bold;
}
