@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

.background {
  position: relative;
  width: 100%;
  height: 800px;
	background-image: url(../img/Background.jpg);
  background-size:  auto;
  background-position: center;
	background-repeat: no-repeat;
}

.background img {
  width: 30%;
  margin: 20px 20px 100px 270px;
}

.background p {
  font-size: 30px;
  margin: -170px -10px 170px 273px;
}

.note {
  width: 800px;
  margin: auto;
  color: black;
  text-align: center;
  border-radius: 8px; /*ボタンの角を丸くする*/
  background-color: rgb(255, 255, 240);
}

.note h1 {
  font-size: 64px;
}

.note p {
  font-size:48px;
  line-height:10px; /*改行間隔*/
  color: black;
}
