@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  width: 639px;
  margin: auto;
  border: 1px solid;
  margin-top: 100px;
}

.background {
  position: relative;
  width: 100%;
  height: 600px;
	background-image: url(../img/Background.jpg);
  background-size:  auto;
  background-position: center;
	background-repeat: no-repeat;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.background img {
  width: 20%;
  margin: 50px 20px 100px 250px;
}

.background p {
  font-size: 30px;
  margin: -120px -10px 170px 195px;
}

.facebook {
  width: 80%;
  height: 80px;
  color: white; /* 文字色 */
  padding: 15px 32px; /* パディング */
  text-align: center; /* 文字のアライメント */
  margin: 4px 10%; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  background: #1877F2 url(../img/Facebook.png) no-repeat 20px center / 30px auto;
  font-size: 24px;
}

.Google {
  width: 80%;
  height: 80px;
  color: #000000; /* 文字色 */
  padding: 15px 32px; /* パディング */
  text-align: center; /* 文字のアライメント */
  margin: 4px 10%; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  background: white  url(../img/Google.png) no-repeat 20px center / 30px auto;
  font-size: 24px;
}

.Apple {
  width: 80%;
  height: 80px;
  color: white; /* 文字色 */
  padding: 15px 32px; /* パディング */
  text-align: center; /* 文字のアライメント */
  margin: 4px 10%; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  background: black  url(../img/Apple.png) no-repeat 20px center / 30px auto;
  font-size: 24px;
}

.NoSNS {
  width: 80%;
  height: 80px;
  background-color: white;
  color: #000000; /* 文字色 */
  padding: 15px 32px; /* パディング */
  text-align: center; /* 文字のアライメント */
  margin: 4px 10%; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
  font-size: 24px;
}

.form-check {
  padding-left: 95px; /*チェックボックスの位置を調整*/
}

span {
  color: #16A34A; /*チェックボックスの隣の文章の色を一部調整*/
}
