@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html {
  margin-top: 500px;
}

.button {
  margin: auto;
  position: relative;
  height: 200px;
  background: #EEE;
  border: 1px solid #999;
}

input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  padding: 10px;
  background: #b2e5dd;
  border: 1px solid #333;
  font-size: 32px;
  color: #333;
  width: 500px;
  height: 100px;
  text-align: center;
}
