@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
  text-align: center;
}

.Password {
  font: bold;
  font-size: 64px;
  color: #1877F2;
  width: 80%;
  height: 200px;
  margin-top: 600px;
  cursor: pointer; /* カーソル */
  border-radius: 8px; /* ボタンの角丸 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* 影 */
}
